  <h1 align="center">Mixitup Portfolio</h1>


<br />

<div class="controls">
  <label>View :</label>

  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".category-1"> Designs </button>
  <button class="filter" data-filter=".category-2">Photography </button>
  <button class="filter" data-filter=".category-3">Websites </button>
</div>



<div id="Container" class="container">
  <div class="mix category-3"> <img src="http://www.earoa.com/images/websites/appletimer.png"> </div>

  <div class="mix category-1"> <img src="http://earoa.com/images/Designs/Beats.png"> </div>
  <div class="mix category-2"> <img src="http://www.earoa.com/images/Photography/DSC_0022.JPG"> </div>
  <div class="mix category-1"> <img src="http://earoa.com/images/Designs/Eye.jpg"> </div>
  <div class="mix category-3"> <img src="http://www.earoa.com/images/websites/audiwire.png"> </div>
  <div class="mix category-1"> <img src="http://earoa.com/images/Designs/Watch.jpg"> </div>
  <div class="mix category-2"> <img src="http://www.earoa.com/images/Photography/Xochimilco.JPG"> </div>
  <div class="mix category-3"> <img src="http://www.earoa.com/images/websites/zocalo.png"> </div>
  <div class="mix category-1"> <img src="http://earoa.com/images/Designs/Fractured.png"> </div>
  <div class="mix category-2"> <img src="http://www.earoa.com/images/Photography/Mexico%20City.JPG"> </div>
  <div class="mix category-1"> <img src="https://pbs.twimg.com/media/BuzMOzACMAAclHg.png:large"> </div>
  <div class="mix category-3"> <img src="http://www.earoa.com/images/websites/muytec.png"> </div>




  </div>
